.hide {
  visibility:hidden;
 
}

.show {
  visibility:visibile;
  
}
     


#introDiv{
 
  
   padding:50px;
}

#diydiv{
 
  
     padding:50px;
    
}

p{
  font-size: 20px
}


#mainDiv {
  
  color: green;
  background-image: url("https://i.pinimg.com/originals/ea/62/3d/ea623ddaa3364bc17ade2bce55be8edf.jpg");
}



























